#sidebar
    #brand
        a(href="https://patterncss.netlify.com")
            img(src="https://res.cloudinary.com/prvnbist/image/upload/v1521124152/patterncsslogo.svg", alt="PatternCSS")
    #menu
        ul
            li
                span.index ELEMENTS
                ul.menu
                    li: a(href="https://patterncss.netlify.com/docs/colors.html") Colors
                    li: a(href="https://patterncss.netlify.com/docs/typography.html") Typography
            li
                span.index COMPONENTS
                ul.menu
                    li: a(href="https://patterncss.netlify.com/docs/buttons.html") Buttons